.aboutpage {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.headerContainerAbout {
    width: auto;
    margin-left: 50px;
    align-self: flex-start;
}
  
.headerContainerAbout h1 {
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: white;
}
  
.headerContainerAbout p {
    padding: 0;
    font-size: 20px;
    text-align: left;
    max-width: 50%;
    font-weight: lighter;
    color: white;
}
  
.headerContainerAbout button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: left;
    justify-content: left;
    background-color: white;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}
  
.headerContainerAbout button:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px .5rem white;
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
 
  
    .headerContainerAbout {
      margin: auto;
      border-radius: 10px;
      padding: 10px;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #121619;
      color: white;
    }
  
    .headerContainerAbout h1 {
      font-size: 40px;
      height: 30px;
      color: white;
    }
  
    .headerContainerAbout p {
      font-size: 30px;
      color: white;
    }
  
    .headerContainerAbout button {
      background-color: white;
      color: #121619;
      margin-bottom: 30px;
    }
  
    .headerContainerAbout button:hover {
      background-color: rgb(225, 225, 225);
      color: #121619;
    }
  }